# Pandas

In [3]:
import numpy as np
import pandas as pd

pd.Series(np.random.randn(10))

0   -1.527430
1    0.207076
2    1.716183
3    0.857426
4    0.634326
5   -0.254614
6    1.121167
7    0.275652
8    0.357109
9   -0.018429
dtype: float64

In [4]:
import pandas as pd

Data = [1,2,3,4,5,6,7]

a = pd.Series(Data)
#make a series out of the data provided in the parenthesis
print(a)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [7]:
import numpy as np
import pandas as pd

pd.Series(np.random.randn(10), index = ['q','w','e','r','t','y','u','i','o','p'])
#Can provide the data for index as well

q    0.068086
w    0.404277
e   -1.615800
r   -1.348241
t   -0.242849
y   -1.358754
u    1.168572
i    0.252381
o    0.067707
p    1.171258
dtype: float64

In [13]:
import numpy as np
import pandas as pd

D = {1:"Talon", 2:"Zed", 3:"Unknown"}

pd.Series(D)

1      Talon
2        Zed
3    Unknown
dtype: object

In [19]:
import pandas as pd

Data = [1,2,3,4,5,6,7]
Index = ['a','b','c','d','e','f','g']

s = pd.Series(Data)
print(s)
si = pd.Series(Data,Index)
print(si)

Data = [[1,2,3],[4,5,6],[7,8,9],[9,10]] #The values get right-shifted in case of incomplete data
sd = pd.Series(Data)
print(sd)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64
a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int64
0    [1, 2, 3]
1    [4, 5, 6]
2    [7, 8, 9]
3      [9, 10]
dtype: object

In [29]:
#WAP to create and display a one dimensional array like object containing an array of data using pandas

Data = eval(input("Enter the numbers: "))

s = pd.Series(Data)

for i in s:
    print(i, end = " ")

Enter the numbers: 1,2,3,4,5,6
1 2 3 4 5 6

In [31]:
#WAP to convert pandas series into python list and tuple

Data = eval(input("Enter the numbers: "))

s = pd.Series(Data)
l = []
for i in s:
    l.append(i)
print(l)

t = tuple(l)
print(t)

Enter the numbers: 1,2,3,4,5,6
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

In [33]:
#WAP to add, subtract, multiply and divide two pandas series

Data1 = [1,2,3,4]
Data2 = [5,6,7,8]

s1 = pd.Series(Data1)
s2 = pd.Series(Data2)

print(s1+s2)
print(s1-s2)
print(s1*s2)
print(s1/s2)

0     6
1     8
2    10
3    12
dtype: int64
0   -4
1   -4
2   -4
3   -4
dtype: int64
0     5
1    12
2    21
3    32
dtype: int64
0    0.200000
1    0.333333
2    0.428571
3    0.500000
dtype: float64

In [2]:
#WAP to compare the elements of the two series

Data1 = [1,2,3,4]
Data2 = [2,4,6,8]

s1 = pd.Series(Data1)
s2 = pd.Series(Data2)

print(s1==s2)

NameError: name 'pd' is not defined

In [37]:
#WAP to convert a dictionary to a pandas series

D = {1:"Talon", 2:"Zed", 3:"Unknown"}

s = pd.Series(D)
print(s)

1      Talon
2        Zed
3    Unknown
dtype: object

In [43]:
#WAP to convert a numpy array to pandas series

a = np.array([1,2,3,4,5,6,7,8])

s = pd.Series(a)
print(s)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int32

In [59]:
#WAP to change the data type of a given column or series (can give NaN too)

Data = [1,2,"Talon","Zed"]

s = pd.Series(Data)
print(s)

s2 = pd.to_numeric(s, errors = "coerce")
print(s2)

0        1
1        2
2    Talon
3      Zed
dtype: object
0    1.0
1    2.0
2    NaN
3    NaN
dtype: float64

In [74]:
#WAP to convert the first column of dataframe to a series

import pandas as pd

d = {"col1":[1,2,3],"col2":[4,5,6],"col3":[7,8,9]}

df = pd.DataFrame(d)
print(df)

s = df.ix[:,0]
print(s)

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9
0    1
1    2
2    3
Name: col1, dtype: int64

C:\Users\msi1\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  # Remove the CWD from sys.path while we load stuff.

In [54]:
#WAP to convert a series of lists to one series

Data1 = [[1,2,3],[4,5,6],[7,8,9]]
s1 = pd.Series(Data1)
print(s1)
l = []

for i in s1:
    for j in i:
        l.append(j)
    
s2 = pd.Series(l)
print(s2)

0    [1, 2, 3]
1    [4, 5, 6]
2    [7, 8, 9]
dtype: object
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [61]:
#WAP to sort a given series

Data = [1,5,2,8,3,0,4,7]

s = pd.Series(Data)
print(s)
Data2 = []
for i in s:
    Data2.append(i)
Data2.sort()

s2 = pd.Series(Data2)
print(s2)

0    1
1    5
2    2
3    8
4    3
5    0
6    4
7    7
dtype: int64
0    0
1    1
2    2
3    3
4    4
5    5
6    7
7    8
dtype: int64

In [77]:
import pandas as pd

Data1 = [[1,2,3],[4,5,6],[7,8,9]]
s1 = pd.Series(Data1)
print(s1)

s2 = s1.apply(pd.Series).stack().reset_index(drop=True)
print(s2)

0    [1, 2, 3]
1    [4, 5, 6]
2    [7, 8, 9]
dtype: object
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64